.accordion {
  width: 100%;
  padding: 18px;
  text-align: left;
  border: none;
  background-color: #eee;
  color: #444;
  cursor: pointer;
}

.panel {
  padding: 0 18px;
  overflow: hidden;
  display: none;
}

.active, .accordion:hover{
    background-color: #ccc;
}
